html {
    height: 100%;
}

body {
    font-family: 'Barlow', sans-serif;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.75) 100%);
}

#ellipse1 {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 998px;
    top: -79px;
    background: linear-gradient(43.66deg, #282727 15.54%, rgba(49, 47, 47, 0) 64.5%);
    opacity: 0.78;
    filter: blur(5px);
}

#ellipse2 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 161px;
    top: 80px;
    background: linear-gradient(306.6deg, rgba(150, 148, 148, 0.27) -3.48%, rgba(21, 20, 20, 0) 102.33%);
    filter: blur(5px);
}

#ellipse4 {
    box-sizing: border-box;
    position: absolute;
    width: 390px;
    height: 346px;
    left: 900px;
    top: 350px;
    background: linear-gradient(119.86deg, rgba(141, 141, 141, 0.27) 11.52%, rgba(183, 179, 179, 0) 82.23%);
    filter: blur(5px);
    backdrop-filter: blur(5px);
}

h1 {
    height: 96px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    margin-top: 100px;
    font-weight: 600;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

#student {
    width: 300px;
    height: 300px;
    border-radius: 67px;
    margin-top: 50px;
    margin-left: 351px;
    border-width: 0;
}

#student-icon {
    width: 200px;
    height: 200px;
}

#poc {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 180px;
    border-radius: 67px;
    border-width: 0;
}

#poc-icon {
    width: 200px;
    height: 200px;
}

.text {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #000000;
}

.ellipse {
    border-radius: 100%;
    z-index: -1;
}